<header>
    <div class="explorer-title"><span>Explore Optimum</span></div>
</header>

<main>
  <div class="container">
    <div class="app-content">
      <!-- <videoplayer></videoplayer> -->
      <div class="left-aside">
        <button>Hello</button>
        <button>Hi How are u?</button>
        <button>Hello</button>
        <h2>Hola</h2>
        <h3>ohello</h3>
      </div>
      <div class="view-content">
        <div>Hello Contant</div>
        <div>Hello Contant</div><div>Hello Contant</div><div>Hello Contant</div>
        <div>Hello Contant</div><div>Hello Contant</div>
        <div>Hello Contant</div><div>Hello Contant</div><div>Hello Contant</div>
        <div>Hello Contant</div><div>Hello Contant</div>
        <div>Hello Contant</div>
        <div>Hello Contant</div><div>Hello Contant</div><div>Hello Contant</div>
        <div>Hello Contant</div><div>Hello Contant</div>
        <div>Hello Contant</div>
        <div>Hello Contant</div><div>Hello Contant</div><div>Hello Contant</div>
        <div>Hello Contant</div><div>Hello Contant</div>
        <div>Hello Contant</div><div>Hello Contant</div><div>Hello Contant</div>
        <div>Hello Contant</div><div>Hello Contant</div>
        <div>Hello Contant</div>
        <div>Hello Contant</div><div>Hello Contant</div><div>Hello Contant</div>
        <div>Hello Contant</div><div>Hello Contant</div>
      </div>
    </div>
    <div style="clear: both;">

    </div>
  </div>
</main>

<footer>
  <div class="footer">Footer Hello Footer HelloFooter HelloFooter HelloFooter</div>
</footer>
